{$API_PUBLIC_DOMAIN} {
	@allowed_origin {
		header_regexp Origin ^({$FRONTEND_ORIGIN}|http://localhost:3000|http://127\.0\.0\.1:3000)$
	}

	@cors_preflight {
		method OPTIONS
		header_regexp Origin ^({$FRONTEND_ORIGIN}|http://localhost:3000|http://127\.0\.0\.1:3000)$
	}

	header @allowed_origin {
		Access-Control-Allow-Origin "{http.request.header.Origin}"
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "*"
		Vary "Origin"
	}

	respond @cors_preflight "" 204

	reverse_proxy host.docker.internal:8000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_down -Access-Control-Allow-Origin
		header_down -Access-Control-Allow-Credentials
		header_down -Access-Control-Allow-Methods
		header_down -Access-Control-Allow-Headers
		header_down -Vary
	}
}

{$MINIO_PUBLIC_DOMAIN} {
	@allowed_origin {
		header_regexp Origin ^({$FRONTEND_ORIGIN}|http://localhost:3000|http://127\.0\.0\.1:3000)$
	}

	@cors_preflight {
		method OPTIONS
		header_regexp Origin ^({$FRONTEND_ORIGIN}|http://localhost:3000|http://127\.0\.0\.1:3000)$
	}

	header @allowed_origin {
		Access-Control-Allow-Origin "{http.request.header.Origin}"
		Access-Control-Allow-Methods "PUT, GET, HEAD, OPTIONS"
		Access-Control-Allow-Headers "*"
		Access-Control-Expose-Headers "ETag"
		Vary "Origin"
	}

	respond @cors_preflight "" 204

	reverse_proxy minio:9000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}
